@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

* {
	padding:0;
	margin:0;
}

body {
	background-color: rgb(250,248,236);
	font-family: Helvetica;
	text-align: center;
}
h1 {
	font-family: 'Roboto';
	color: rgb(104,173,109);
}

p, ul {
	font-family: 'Gentium Basic'; 
	line-height: 1.5em;
}

ul {
    text-align: center;
    list-style-type: none;
}

img {
	width: 500px;
}


#slogan {
	font-style: italic;
}
